{% extends "OnoMapBundle::layout.html.twig" %}
{% block title %}{{ parent() }} Article{% endblock %}

{% block body %}
  {% block bodyContent %}{{ parent() }}
    <div class="header-list">
      <div class="switch-container">
        <label class="switch">
            <input type="checkbox">
            <div class="slider round"></div>
        </label>
        <p>Prendre en compte vos thèmes</p>
      </div>
      <div class="themes-container">
        {% for theme in themes %}
          {% if theme.id in app.session.get("themes") %}
          <div class="tag">
            <p>{{ theme.libTheme }}</p>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <a href="{{ path("ono_map_article_index") }}" class="ramdom"></a>
    </div>

    <div class="main-block">
      <div class="main-block-header">
        <h1>Les articles que vous avez aimés</h1>
        <p class="count">{{ articles|length }} résultats</p>
      </div>
      <div class="columns">
        {% for article in articles %}
        <figure>
          <a href="{{ path("ono_map_article_view",{"id":article.id}) }}" >
          <div class=column-container>

            <div class="image">
              {% if article.resources %}
                {% set resource = article.resources|first %}
                {% if resource %}
                <img src="{{ vich_uploader_asset(resource, 'file') }}" alt="{{ article.title }}" />
                {% endif %}
              {% endif %}
            </div>

            <div class="colum-content">
              <h2> {{ article.title }} </h2>
              <p>
                {{ article.description }}
              </p>
              <p>{{ article.content|raw|slice(0, 399) }}</p>
            </div>
            <div class="column-footer">
              <p class="info">{{ article.country.libCountry }}</p>
              <div class="like" data-id="{{ article.id }}" data-like-content>
                {{ article.nbLikes }}
              </div>
            </div>
            <div class="action-figure {% if article|isliking %}liked{% endif %}">
              {% if article|isliking %}
                <a href="{{ path("ono_map_article_unlike", {"id": article.id }) }}" class="like-button" data-id="{{ article.id }}" data-like-action></a>
              {% else %}
              <a href="{{ path("ono_map_article_like", {"id": article.id }) }}" class="like-button" data-id="{{ article.id }}" data-like-action></a>
              {% endif %}
            </div>
          </div>
          </a>
        </figure>

        {% endfor %}
      </div>
    </div>





      {% if is_granted("ROLE_EDITOR") %}
        <a href="{{ path("ono_map_article_add") }}" class="btn">Nouvel Article</a>
      {% endif %}


<!-- </body> -->

  {% endblock %}
{% endblock %}
