{% extends "OnoMapBundle::layout.html.twig" %}
{% block title %}{{ parent() }} Article{% endblock %}

{% block body %}
  {% block bodyContent %}{{ parent() }}

  <body id="article-index">
    <div class="mainContent">
      <h1>Les articles <br/><span>sur une seule page</span></h1>
    </div>
    <div id="tags-container">
      <p>La recherche prends en compte les thèmes que vous avez prédéfinis</p>
          <label class="switch">
              <input type="checkbox">
              <div class="slider round"></div>
          </label>
          {% for theme in themes %}
            {% if theme.id in app.session.get("themes") %}
            <div class="tag">
              <p>{{ theme.libTheme }}</p>
            </div>
            {% endif %}
          {% endfor %}
      </div>

      <div class="columns">
        {% for article in articles %}
        <figure>
          <div class=column-container>

            <div class="image">
              <div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Bordeaux_Tram_R01.jpg/220px-Bordeaux_Tram_R01.jpg"/>

                <div class="info">
                    <h4> {{ article.country.libCountry }} </h4>
                </div>
              </div>
            </div>

            <div class="colum-content">
              <h2> {{ article.title }} </h2>
              <p>
                {{ article.description }}
              </p>
              <p>{{ article.content |raw }}</p>
              <figcaption><a href="{{ path("ono_map_article_view",{"id":article.id}) }}" ><span>Lire plus...</span></a></figcaption>
            </div>
          </div>
        </figure>
        {% endfor %}
      </div>





      {% if is_granted("ROLE_EDITOR") %}
        <a href="{{ path("ono_map_article_add") }}" class="btn">Nouvel Article</a>
      {% endif %}


</body>

  {% endblock %}
{% endblock %}
