{% extends "OnoMapBundle::layout.html.twig" %}
{% block title %}{{ parent() }} Article {% endblock %}

{% block body %}
  {% block bodyContent %}{{ parent() }}

    <div id="show-action">
      <div class="banner" {% if article.resources|length %}style="background-image:url({{ vich_uploader_asset(article.resources[0], 'file') }})"{% endif %}>
      </div>
      <div class="show-body">
        <p class="country">{{ article.country.libCountry }}</p>
        <a class="back-list" href="{{ path("ono_map_article_index") }}">Retour à la liste des articles</a>
        <div class="show-header">
          <h1 class="show-title">{{ article.title }}</h1>
          <ul class="themes">
            {% for theme in article.themes %}
              <li>{{ theme.libTheme }}</li>
            {% endfor %}
          </ul>
          <a href="{{ path("ono_map_article_add") }}" class="add" data-help="Vous pouvez cliquez ici pour participer à l'enrichissement du contenu de la plateforme" style="background-image: url({{ asset("asset/img/icone/add.svg") }});"><span>Proposer un article</span></a>
        </div>
        <div id="tags-container">
            {% for theme in themes %}
              {% if theme.id in app.session.get("themes") %}
              <div class="tag">
                <p>{{ theme.libTheme }}</p>
              </div>
              {% endif %}
            {% endfor %}
            <div>
              {% for tag in article.tags %}
                <div class="tag">
                  <p class="tag-content" data-id="{{ tag.id }}">{{ tag.libTag }}</p>
                </div>
              {% endfor %}
            </div>
        </div>
        <div class="show-content">
          {% if article.resources|length %}
          <div class="show-resources">
            <img src="{{ vich_uploader_asset(article.resources[0], 'file') }}" alt="">
          </div>
          {% endif %}
          <div class="content" id="tagManageContent" data-prototypeTag="{{ path("ono_map_article_popup", {"id": article.id, "tag":"0"}) }}">
            {{ article.content |raw }}
          </div>
          <div class="footer-content">
            <p class="country">{{ article.country.libCountry }}</p>
            <p class="likes" data-id="{{ article.id }}" data-like-content>{{ article.nbLikes }}</p>
          </div>
        </div>
        <div class="action-figure {% if article|isliking %}liked{% endif %}">
          {% if article|isliking %}
            <a href="{{ path("ono_map_article_unlike", {"id": article.id }) }}" class="like-button" data-id="{{ article.id }}" data-like-action></a>
          {% else %}
          <a href="{{ path("ono_map_article_like", {"id": article.id }) }}" class="like-button" data-id="{{ article.id }}" data-like-action></a>
          {% endif %}
        </div>
      </div>
      <!-- <div class="">
        <h2>Questions en rapport avec votre recherche</h2>
        <div class="other-show">
          <a href="#">
            <div class="item">
              <p class="title-item">Le numérique apporte une solution dans les déplacements quotidien </p>
            </div>
          </a>
        </div>
      </div> -->

    </div>
    <div class="modal" id="tag-modal">
      <div class="modal-box">
        <div class="banner-top">
          <a href="#" class="sidebar-close-button close-modal"></a>
        </div>
        <div id="modal-content" data-prototype="<div class='libtag-container'>
          <p class='libtag'>__libtag__</p>
        </div>
        <div class='indefinitions-container'>__indefinitions__<a href='__indefPersoLink__'><div class='add-indef-btn'>Proposez votre indéfinition</div></a><a href='__seeMoreLink__'><div class='see-more-btn'>Voir plus</div></a></div>
        __articles__">
        </div>
      </div>
    </div>
  </body>
  {% endblock %}
{% endblock %}
