{% extends "OnoMapBundle::layout.html.twig" %}
{% block title %}{{ parent() }} Article {% endblock %}

{% block body %}
  {% block bodyContent %}{{ parent() }}

    <div id="show-action">
      <div class="banner" style="background-image:url({{ vich_uploader_asset(article.resources[0], 'file') }})">
      </div>
      <div class="show-body">
        <p class="country">{{ article.country.libCountry }}</p>
        <a class="back-list" href="{{ path("ono_map_article_index") }}">Retour à la liste des articles</a>
        <div class="show-header">
          <h1 class="show-title">{{ article.title }}</h1>
          <ul class="themes">
            {% for theme in article.themes %}
              <li>{{ theme.libTheme }}</li>
            {% endfor %}
          </ul>
          <a href="#" class="add" data-help="Vous pouvez cliquez ici pour participer à l'enrichissement du contenu de la plateforme" style="background-image: url({{ asset("asset/img/icone/add.svg") }});"><span>Proposer un article</span></a>
        </div>
        <div class="show-content">
          <div class="content">
            {{ article.content |raw }}
          </div>

          <div class="show-resources">
            <img src="{{ vich_uploader_asset(article.resources[0], 'file') }}" alt="">
          </div>
          <div class="footer-content">
            <p class="country">{{ article.country.libCountry }}</p>
            <p class="likes" data-id="{{ article.id }}" data-like-content>{{ article.nbLikes }}</p>
          </div>
        </div>
        <div class="action-figure {% if article|isliking %}liked{% endif %}">
          {% if article|isliking %}
            <a href="{{ path("ono_map_article_unlike", {"id": article.id }) }}" class="like-button" data-id="{{ article.id }}" data-like-action></a>
          {% else %}
          <a href="{{ path("ono_map_article_like", {"id": article.id }) }}" class="like-button" data-id="{{ article.id }}" data-like-action></a>
          {% endif %}
        </div>
      </div>
      <!-- <div class="">
        <h2>Questions en rapport avec votre recherche</h2>
        <div class="other-show">
          <a href="#">
            <div class="item">
              <p class="title-item">Le numérique apporte une solution dans les déplacements quotidien </p>
            </div>
          </a>
        </div>
      </div> -->

    </div>
  </body>
  {% endblock %}
{% endblock %}
