{% extends "OnoMapBundle::layout.html.twig" %}
{% block title %}{{ parent() }} Réponse{% endblock %}

{% block body %}
  {% block bodyContent %}{{ parent() }}

      <div id="show-action">
        <div class="banner" {% if response.resource %}style="background-image:url({{ vich_uploader_asset(response.resource, 'file') }})" {% endif %}>
        </div>
        <div class="show-body">
          <p class="country">{{ response.country.libCountry }}</p>
          <a class="back-list" href="{{ path("ono_map_question_index") }}">Retour à la liste des questions</a>
          <div class="show-header">
            <h1 class="show-title">{{ response.question.libQuestion }}</h1>
            <ul class="themes">
              {% for theme in response.question.themes %}
                <li>{{ theme.libTheme }}</li>
              {% endfor %}
            </ul>
            <a href="{{ path("ono_map_response_add", {"id":response.question.id }) }}" class="add" data-help="Vous pouvez cliquez ici pour participer à l'enrichissement du contenu de la plateforme" style="background-image: url({{ asset("asset/img/icone/add.svg") }});"><span>Proposer une réponse</span></a>
          </div>
          <div class="show-content">
            <div class="content">
              {{ response.content |raw }}
            </div>
            {% if response.resource %}
            <div class="show-resources">
              <img src="{{ vich_uploader_asset(response.resource, 'file') }}" alt="">
            </div>
            {% endif %}
            <div class="footer-content">
              <p class="country">{{ response.country.libCountry }}</p>
              <p class="likes" data-id="{{ response.id }}" data-like-content>{{ response.nbLikes }}</p>
            </div>
          </div>
          <div class="action-figure {% if response|isliking %}liked{% endif %}">
            {% if response|isliking %}
              <a href="{{ path("ono_map_response_unlike", {"id": response.id }) }}" class="like-button" data-id="{{ response.id }}" data-like-action></a>
            {% else %}
            <a href="{{ path("ono_map_response_like", {"id": response.id }) }}" class="like-button" data-id="{{ response.id }}" data-like-action></a>
            {% endif %}
          </div>
        </div>
  </body>
  {% endblock %}
{% endblock %}
