{% extends "OnoMapBundle::layout.html.twig" %}
{% block title %}{{ parent() }} Questions{% endblock %}

{% block body %}
  {% block bodyContent %}{{ parent() }}
    <h1>{{ response.question.libQuestion }}</h1>
    <p>
      Le {{ response.dtcreation|date("j/m/y") }} par {{ response.author }}
    </p>
    <p>
      <p>
        Nombre de like :
        {{ response.nbLikes }}
      </p>
      <p>
        Test :
        {{ response|isliking }}
        {% if response|isliking == true %}
        <a href="{{ path("ono_map_response_unlike", {"id": response.id }) }}">J'aime plus</a>
        {% else %}
        <a href="{{ path("ono_map_response_like", {"id": response.id }) }}">J'aime</a>
        {% endif %}
      </p>
      Contenu :
      {{response.content | raw}}
    </p>
    <a href="{{ path("ono_map_homepage") }}">Retour à l'accueil</a>
  {% endblock %}
{% endblock %}
