{% extends "OnoMapBundle::layout.html.twig" %}
{% block title %}{{ parent() }} Indéfinition{% endblock %}

{# STYLESHEETS #}
{% block stylesheets %}
{% stylesheets  filter='cssrewrite'
  'bundles/onomap/css/bootstrap.min.css'
  'bundles/onomap/css/style.css'
%}
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block body %}
  {% block bodyContent %}{{ parent() }}
  <div class="wrapper-form">
    <h1>Tag : {{ libTag }}</h1>

    <h3>Etes-vous certain de vouloir supprimer votre indéfinition ci-dessous ?</h3><br>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>{{indefinition.content|raw}}</p>
      </div>
    </div>

    <form action="{{ path(pathDelete, {'article_id': artId, 'tag_id': tagId, 'id': indefinition.id}) }}" method="post">
      {# Ici j'ai écrit le bouton de soumission à la main #}
      <input type="submit" value="Supprimer" class="btn btn-danger" />
      {# Ceci va générer le champ CSRF #}
      {{ form_rest(form) }}
    </form>
  </div>

  {% endblock %}
{% endblock %}
