{% extends "OnoMapBundle::layout.html.twig" %}
{% block title %}{{ parent() }} Questions{% endblock %}

{% block body %}
  {% block bodyContent %}{{ parent() }}


  <body id="questions-index">

    <!-- <h1>{{ question.libQuestion }}</h1>
    <h2>Liste des réponses :</h2>
    <ul>
      {% for response in responses %}
      <li>{{response.id}} => <a href="{{ path("ono_map_response_view", {"id": response.id }) }}">Voir</a></li>
      {% endfor %}
    </ul>
    <a href="{{ path("ono_map_response_add", {"id": question.id }) }}">ajouter une réponse</a> -->

    <div class="mainContent">
      <h1>Les réponses <br/><span>sur une seule page</span></h1>
    </div>

    <div id="tags-container">
      <p> La recherche prends en compte les thèmes que vous avez prédéfinis </p>

        <label class="switch">
            <input type="checkbox">
            <div class="slider round"></div>
        </label>

        {% for theme in themes %}
          {% if theme.id in app.session.get("themes") %}
          <div class="tag">
            <p>{{ theme.libTheme }}</p>
          </div>
          {% endif %}
        {% endfor %}

    </div>

    <div class="columns">
      {% for response in responses %}
      <figure>
        <div class=column-container>

          <div class="image">
            <div>
              <img src="{{ asset("asset/img/logo.svg") }}"/> <!-- Image/Vidéo de l'article -->

              <div class="info">
                  <h4> {{ response.country.libCountry }} </h4>
              </div>
            </div>
          </div>
          <div class="colum-content">
            <div class="profil">
                <img src="../../public/img/profil.jpg" class="profil-pic" alt='profil-picture'/>
                <p id="profil-description"><span>{{ response.author }}</span><br/> {{ response.dtnaissance |date("d/m/y")}}</p>
            </div>
            <p> {{ response.content | raw }} </p>
            <figcaption><a href="{{ path("ono_map_response_view",{"id":response.id}) }}" ><span>Lire plus...</span></a></figcaption>
          </div>
        </div>
      </figure>
      {% endfor %}
    </div>

  </body>
  {% endblock %}
{% endblock %}
