{% extends "OnoMapBundle::layout.html.twig" %}
{% block title %}{{ parent() }} Questions{% endblock %}

{% block body %}
  {% block bodyContent %}{{ parent() }}
    <h1>{{ question.libQuestion }}</h1>
    <h2>Liste des réponses :</h2>
    <ul>
      {% for response in responses %}
      <li>{{response.id}} => <a href="{{ path("ono_map_response_view", {"id": response.id }) }}">Voir</a></li>
      {% endfor %}
    </ul>
    <a href="{{ path("ono_map_response_add", {"id": question.id }) }}">ajouter une réponse</a>
  {% endblock %}
{% endblock %}
