{% extends "OnoMapBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Carte{% endblock %}

{# BODY #}
{% block body %}
  {% block bodyContent %}{{ parent() }}

    <!-- Sidebar Right -->
    <div id="sidebarRight" class="sidebar-close">
      <div class="banner-top">
        <a href="#" class="sidebar-close-button"></a>
      </div>
      <div class="sidebar-body list-state">
        <div class="sidebar-header">
          <p class="sidebar-title">France</p>
        </div>
        <div id="list-items">
          <p class="list-title">Les questions en France</p>
          <div class="list-question">
            <a href="#" data-href="">
              <div class="item">
                <p class="item-title">Le numérique apporte t-il véritablement une solution dans les déplacement quotidien</p>
                <p class="item-mention">12 réponse</p>
              </div>
            </a>
            <a href="#" data-href="">
              <div class="item">
                <p class="item-title">Le numérique apporte t-il véritablement une solution dans les déplacement quotidien</p>
                <p class="item-mention">12 réponse</p>
              </div>
            </a>
          </div>
          <p class="list-title">Les articles en France</p>
          <div class="list-article">
            <a href="#" data-href="">
              <div class="item">
                <p class="item-title">Le numérique apporte t-il véritablement une solution dans les déplacement quotidien</p>
                <p class="item-mention">12 réponse</p>
              </div>
            </a>
            <a href="#" data-href="">
              <div class="item">
                <p class="item-title">Le numérique apporte t-il véritablement une solution dans les déplacement quotidien</p>
                <p class="item-mention">12 réponse</p>
              </div>
            </a>
          </div>

        </div>
        <div id="show-item" class="panel-right-position">
          <a href="#" data-href="">
            <p class="show-title">Le numérique apporte t-il une solution dans les déplacements quotidien ?</p>
          </a>
          <div class="show-body">
            <div class="show-top-info">
              <p class="author">Margot</p>
              <p class="author-info">19ans - Bordeaux</p>
            </div>
            <div class="show-content">
              <p class="content">Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec vel nisi  consectetur adipiscing elit. Sed vel ipsum sodales, dignissim eros eu.Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec vel nisi  consectetur adipiscing elit. Sed vel ipsum sodales, dignissim eros eu. Sed id arcu et ante ele ifend viverra nec vel nisi  consectetur sed id arcu et ante eleifend viverra nec vel nisi  consectetur. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec  vel nisi  consectetur sed id arcu et ante eleifend viverra nec vel nisi  consectetur. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec</p>
              <img class="content-resource" src="" alt="">
            </div>
            <div class="show-bottom-info">
              <p class="country">France</p>
              <p class="like">125</p>
            </div>
            <div class="action-figure">
              <a href="" class="like-button" data-id="" data-like-action></a>
            </div>
          </div>
          <a href="#" data-href="">
            <div class="banner-bottom">
              <p>Lire la suite</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <section class="map">
      <div id="map"></div>
    </section>

  {% endblock %}

{% endblock %}



{# JAVASCRIPT #}
{% block javascripts %}
  {% javascripts
  'bundles/onomap/js/config.js'
  'bundles/onomap/js/loaderManage.js'
  'bundles/onomap/js/main.js'
  'bundles/onomap/js/mapping.js'
   %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
  {% endjavascripts %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtSVI5vGIdfE-WzDNMGS3-xE_FfmKp8_o&callback=initMap" type="text/javascript"></script>

  <script type="text/javascript">
    mapGestion.addQuestions({{ json|raw }});
    config.rootPath = "{{ absolute_url(path("ono_map_homepage")) }}";
  </script>

{% endblock %}
