{% extends "OnoMapBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Carte{% endblock %}

{# BODY #}
{% block body %}
  {% block bodyContent %}{{ parent() }}

    <!-- Sidebar Right -->
    <div id="sidebarRight" class="sidebar-close">
      <div class="banner-top">
        <a href="#" class="sidebar-close-button"></a>
      </div>
      <div class="sidebar-body list-state">
        <div class="sidebar-header">
          <p class="sidebar-title"></p>
        </div>
        <div id="list-items">
          <p class="list-title">Les questions en France</p>
          <div class="list-question" data-prototype="<a href='#' data-href='__id__' data-object='__object__'>
              <div class='item'>
                <p class='item-title'>__lib__</p>
                <p class='item-mention comment'>__count__ réponses</p>
              </div>
            </a>">
          </div>
          <p class="list-title">Les articles en France</p>
          <div class="list-article"data-prototype="<a href='#' data-href='__id__' data-object='__object__'>
              <div class='item'>
                <p class='item-title'>__lib__</p>
                <p class='item-mention likes'>__count__ likes</p>
              </div>
            </a>">
          </div>

        </div>
        <div id="show-item" class="panel-right-position"
          data-prototype="<p class='show-title'>__title__</p>
          <div class='tag-container'>__tag__</div>
          <div class='show-body'>
            <div class='show-top-info'>
              <p class='author'>__author__</p>
              <p class='author-info'>__dt_naissance__ ans</p>
            </div>
            <div class='show-content' __articleattr__>
              <p class='content'>__content__</p>
              <img class='content-resource' src='__resource__' alt='__resource_legend__'>
            </div>
            <div class='show-bottom-info'>
              <p class='country'>__country__</p>
              <p class='like'>__likes__</p>
            </div>
            <!-- <div class='action-figure __is_liked__'>
              <a href='__like_path__' class='like-button' data-id='__id__' data-like-action></a>
            </div> -->
          </div>
          <div class='banner-bottom'>
            <a href='__show_path__'>
              Lire la suite
            </a>
            <a href='#' data-href>
              Retour
            </a>
          </div>">


        </div>
      </div>
    </div>

    <section class="map">
      <div id="map"></div>
    </section>

    <div class="modal" id="tag-modal">
      <div class="modal-box">
        <div class="banner-top">
          <a href="#" class="sidebar-close-button close-modal"></a>
        </div>
        <div id="modal-content" data-prototype="<div class='libtag-container'>
          <p class='libtag'>__libtag__</p>
        </div>
        <div class='indefinitions-container'>__indefinitions__<a href='__indefPersoLink__'><div class='add-indef-btn'>Proposez votre indéfinition</div></a></div>
        __articles__">
        </div>
      </div>
    </div>

  {% endblock %}

{% endblock %}



{# JAVASCRIPT #}
{% block javascripts %}
  {% javascripts
  'bundles/onomap/js/config.js'
  'bundles/onomap/js/loaderManage.js'
  "bundles/onomap/js/interfaceHelper.js"
  "bundles/onomap/js/carousel.js"
  'bundles/onomap/js/mapping.js'
  'bundles/onomap/js/main.js'
   %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
  {% endjavascripts %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtSVI5vGIdfE-WzDNMGS3-xE_FfmKp8_o&callback=initMap" type="text/javascript"></script>

  <script type="text/javascript">
    mapGestion.addQuestions({{ json|raw }});
    config.rootPath = "{{ absolute_url(path("ono_map_homepage")) }}";
  </script>

{% endblock %}
