<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    {% stylesheets  filter='cssrewrite'
      'bundles/onomap/css/main.css'
      'bundles/onomap/css/form.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

  </head>
  <body>
    <div id="sidebar" class="sidebar sidebar-close">
      <div class="burger-button">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav>
        <img class="logo sidebar-img" src="{{ asset("asset/img/logo.svg") }}" alt="" />
        <div class="layout-scroll">
          <h2>Thèmes</h2>
          <ul class="theme-list">
            {% for theme in themes %}
            <li class="filter-theme" data-id="{{theme.id}}">{{ theme.libTheme|upper }}</li>
            {% endfor %}
          </ul>
          <h2>Filtré âge</h2>
          <input id="rangeAgeActive" type="checkbox" value="">
          <input id="rangeAge" type="range" name="name" value="">
        </div>
      </nav>
    </div>
    <span id="display-dev" class="button-style">Afficher Environnement dev</span>
    <div class="devEnv true-hidden">
      <p>
        <h2>Liste des questions chargé</h2>
        <ul>
          {% for question in questions %}
          <li>
          {{ question.libQuestion }}<br>
          <a href="{{ path("ono_map_response_add", {"id" : question.id}) }}">Répondre en cliquant ici</a>
          || 
          <a href="{{ path("ono_map_question_view", {"id": question.id}) }}">Voir les réponses</a><br>
          </li>
          {% endfor %}
        </ul>
      </p>
    </div>
    <section class="map">
      <div id="map"></div>
    </section>
  </body>

  {% javascripts
  'bundles/onomap/js/main.js'
  'bundles/onomap/js/mapping.js'
  "bundles/onomap/js/loader.js"
   %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
  {% endjavascripts %}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtSVI5vGIdfE-WzDNMGS3-xE_FfmKp8_o&callback=initMap" type="text/javascript"></script>

  <script type="text/javascript">
  console.log({{ json|raw }});
    mapGestion.addQuestions({{ json|raw }});
  </script>
</html>
