<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    {% stylesheets  filter='cssrewrite'
      'bundles/onomap/css/main.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

  </head>
  <body>
    <p>
      hello world;
      <h2>Liste des questions</h2>
      <ul>
        {% for question in questions %}
        <li>
        {{ question.libQuestion }}<br>
        <a href="{{ path("ono_map_response_add", {"id" : question.id}) }}">Répondre en cliquant ici</a>
        || 
        <a href="{{ path("ono_map_question_view", {"id": question.id}) }}">Voir les réponses</a><br>
        </li>
        {% endfor %}
      </ul>

    </p>
  </body>

  {% javascripts 'bundles/onomap/js/main.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
  {% endjavascripts %}

</html>
