{% extends "OnoMapBundle::layout.html.twig" %}



{% block body %}
  {% block bodyContent %}{{ parent() }}
    {% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        {% if user.country %}
        <p>Pays : {{ user.country.libCountry }}</p>
        {% endif %}
        {% if user.language.libLanguageFr %}
        <p>Langue : {{ user.language.libLanguageFr }}</p>
        {% endif %}
        {% if user.dtnaissance %}
        <p>Date de naissance : {{ user.dtnaissance.timestamp }}</p>
        {% endif %}
        <div class="response">
          <h2>Responses</h2>
          {% for response in user.responses %}
            <p>
              Question : {{ response.question.libQuestion }}<br>
              Date : {{ response.dtcreation|date("j/m/y") }}<br>
              Contenu : {{ response.content }}<br>
            </p>
          {% endfor %}
        </div>
        <div class="response">
          <h2>Responses aimées</h2>
          {% for response in user.responsesLiked %}
            <p>
              Question : {{ response.question.libQuestion }}<br>
              Date : {{ response.dtcreation|date("j/m/y") }}<br>
              Contenu : {{ response.content }}<br>
            </p>
          {% endfor %}
        </div>
    </div>
    {% endblock fos_user_content %}
  {% endblock %}
{% endblock %}
