{% extends "OnoMapBundle::layout.html.twig" %}



{% block body %}
  {% block bodyContent %}{{ parent() }}
    {% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="fos_user_user_show" id="top">
      <div id="infos">
        <div class="top-part" id="left-part">
          <div class="top-part-content">
            <p id="username">{{ user.username }}</p>
              <a href="{{ path('fos_user_profile_edit') }}">
                {% image '@OnoUserBundle/Resources/public/img/edit.png' %}
                  <img class="buttons" src="{{ asset_url }}" alt="edit" id="edit-btn">
                {% endimage %}
              </a>
            <!-- {% image '@OnoUserBundle/Resources/public/img/supprimer.png' %}
              <img class="buttons" src="{{ asset_url }}" alt="supp" id="supp-btn">
            {% endimage %} -->
          </div>
          <div class="top-part-content">
            <p>{{ user.description ? user.description : "<span class='no-value'>Non renseigné</span>"|striptags }}</p>
          </div>
        </div>
      </div>

      <div id="perso-infos">
        <div class="top-part" id="middle-part">
          <div class="top-part-content">
            {% image '@OnoUserBundle/Resources/public/img/personne.png' %}
            <img class="icons" src="{{ asset_url }}" alt="nom">
            {% endimage %}
            <p>{{ user.firstname ? user.firstname : "<span class='no-value'>Non renseigné</span>"|striptags }} {{ user.name ? user.name : "<span class='no-value'>Non renseigné</span>"|striptags }}</p>
          </div>
          <div class="top-part-content">
            {% image '@OnoUserBundle/Resources/public/img/adressemail.png' %}
            <img class="icons" src="{{ asset_url }}" alt="mail">
            {% endimage %}
            <p>{{ user.email }}</p>
          </div>
        </div>

        <div class="top-part" id="right-part">
          <div class="top-part-content">
            {% image '@OnoUserBundle/Resources/public/img/localisation.png' %}
            <img class="icons" src="{{ asset_url }}" alt="pays">
            {% endimage %}
            <p>{{ user.country ? user.country.libCountry : "<span class='no-value'>Non renseigné</span>"|striptags }}, {{ user.language ? user.language.libLanguageFr : "<span class='no-value'>Non renseigné</span>"|striptags }}</p>
          </div>
          <div class="top-part-content">
            {% image '@OnoUserBundle/Resources/public/img/anniversaire.png' %}
            <img class="icons" src="{{ asset_url }}" alt="date">
            {% endimage %}
            <p>{{ user.dtnaissance ? user.dtnaissance|date("d/m/Y") : "<span class='no-value'>Non renseigné</span>"|striptags }}</p>
          </div>
        </div>
      </div>
    </div>


    {% if user.responses is not empty %}
      <h2>Réponses</h2>
      <div class="carousel-questions">
        <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
          {% for response in user.responses %}
            <div class="gallery-cell" data-linkproto="{{ path("ono_map_response_view", {"id": response.id}) }}">
              <p id="title">{{ response.question.libQuestion }}</p>
              <p class="desc">
                {% if response.content|striptags|raw|length > 50 %}
                {{ response.content|striptags[:50]|raw }}...
                {% else %}
                {{ response.content|striptags|raw }}
                {% endif %}
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

    <br>

    {% if user.indefinitions is not empty %}
      <h2>Indéfinitions</h2>
      <div class="carousel-questions">
        <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
          {% for indefinition in user.indefinitions %}
            <div class="gallery-cell" data-linkproto="{{ path("ono_map_tag_view", {"article_id": 0, "id": indefinition.tag.id}) }}">
              <p id="title">{{ indefinition.tag.libTag }}</p>
              <p class="desc">
                {% if indefinition.content|striptags|raw|length > 50 %}
                {{ indefinition.content|striptags[:50]|raw }}...
                {% else %}
                {{ indefinition.content|striptags|raw }}
                {% endif %}
              </p>
              <div id="bouton-container">
                <a href="{{ path("ono_map_indefinition_edit", {"article_id": 0, "tag_id": indefinition.tag.id, "id": indefinition.id }) }}">
                  <div class="bouton-carousel" id="edit">
                    <p> Editer </p>
                  </div>
                </a>
                <br>
                <a href="{{ path("ono_map_indefinition_delete", {"article_id": 0, "tag_id": indefinition.tag.id, "id": indefinition.id }) }}">
                  <div class="bouton-carousel" id="supp">
                    <p>Supprimer</p>
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}


    {% endblock fos_user_content %}
  {% endblock %}
{% endblock %}
