{% extends "OnoUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="container-confirmed">
  <p id="notice">{{ 'Félicitations pour votre inscription'|trans({'%username%': user.username}) }}</p>
  {% if targetUrl %}
  <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
  {% endif %}
  <a href="{{ path("ono_map_homepage") }}" class="btn">Commencez l'aventure</a>
  <a href="{{ path("fos_user_profile_edit") }}" class="btn">Configurer mon profil</a>
</div>

{% endblock fos_user_content %}
