{% extends "OnoMapBundle::layout.html.twig" %}
{% block title %}{{ parent() }} Tag {{ tag.libTag }}{% endblock %}

{% block body %}
  {% block bodyContent %}{{ parent() }}

    <div class="main-block">
      {% if numArt != 0 %}
        <a class="back-list" href="{{ path("ono_map_article_view", {"id": numArt}) }}">Retour à l'article</a>
      {% elseif is_granted('ROLE_USER') %}
        <a class="back-list" href="{{ path("fos_user_profile_show") }}">Retour au profil</a>
      {% endif %}
      <div class="main-block-header">
        <h1>Les indéfinitions correspondant au tag <span id="tag">{{ tag.libTag }}</span></h1>
        <p class="count">{{ tag.indefinitions|length }} résultats</p>
      </div>
      <p><a class="back-list" href="{{ path("ono_map_indefinition_add", {"article_id": 0, "tag_id": tag.id}) }}">Nouvelle indéfinition</a></p>
      <div class="columns">
        {% for indefinition in tag.indefinitions %}
        <figure>
          <div class=column-container>
            <div class="author">
              <p>Selon {{ indefinition.author }}</p>
            </div>
            <div class="colum-content">
              <p>{{ indefinition.content |raw }}</p>
            </div>
          {% if is_granted("ROLE_USER") and indefinition.user and app.user == indefinition.user %}
            <div id="bouton-container">
              <a class="bouton-carousel" id="edit" href="{{ path("ono_map_indefinition_edit", {"article_id": 0, "tag_id": indefinition.tag.id, "id": indefinition.id}) }}">
                <div>
                  <p> Editer </p>
                </div>
              </a>
              <a class="bouton-carousel" id="supp" href="{{ path("ono_map_indefinition_delete", {"article_id": 0, "tag_id": indefinition.tag.id, "id": indefinition.id}) }}">
                <div>
                  <p> Supprimer </p>
                </div>
              </a>
            </div>
          {% endif %}
          </div>
        </figure>

        {% endfor %}
      </div>
    </div>

    <!-- ARTICLES -->

    <div class="main-block">
      <div class="main-block-header">
        <h1>Les articles correspondant au tag <span id="tag">{{ tag.libTag }}</span></h1>
        <p class="count">{{ tag.articles|length }} résultats</p>
      </div>
      <div class="columns">
        {% for article in tag.articles %}
        <figure>
          <div class=column-container>
            <div class="author">
              <p>{{ article.title }}</p>
            </div>
            <div class="colum-content">
              {% if article.content|striptags|raw|length > 200 %}
              <p>{{ article.content|striptags[:200]|raw }}...</p>
              {% else %}
              <p>{{ article.content|striptags|raw }}</p>
              {% endif %}
            </div>
            <div id="bouton-container">
              <a class="bouton-carousel" id="read" href="{{ path("ono_map_article_view", {"id": article.id}) }}">
                <div>
                  <p> Lire l'article </p>
                </div>
              </a>
              {% if is_granted("ROLE_USER") and article.user and app.user == article.user %}
                <a class="bouton-carousel" id="edit" href="{{ path("ono_map_article_edit", {"id": article.id}) }}">
                  <div>
                    <p> Editer </p>
                  </div>
                </a>
              {% endif %}
              </div>
          </div>
        </figure>

        {% endfor %}
      </div>
    </div>


  {% endblock %}
{% endblock %}
