<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Panneau d'administration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% stylesheets  filter='cssrewrite'
      'bundles/onomap/css/style.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#tabs" ).tabs();
    } );

    $( function() {
      $( "#menu" ).menu();
    } );
    </script>
  </head>
  <body id="admin">
    <div class="container-fluid">
      <section class="row">
        <div class="col-sm-3 sidebar" >
          <a href="{{ path("ono_admin_home") }}"><img src="{{ asset("asset/img/logo.png") }}" id="logo" alt="logo" /></a>
          <ul id="menu">
            <a href="{{ path('ono_admin_list_theme') }}"><li class="title">Thèmes</li></a>
            <a href="{{ path('ono_admin_list_question') }}"><li class="title">Questions</li></a>
            <a href="{{ path('ono_admin_list_response') }}"><li class="title">Réponses</li></a>
            <a href="{{ path('ono_admin_list_country') }}"><li class="title">Pays</li></a>
            <a href="{{ path('ono_admin_list_language') }}"><li class="title">Langue</li></a>
            <a href="{{ path("ono_admin_list_user") }}"><li class="title">Utilisateurs</li></a>
            <a href="{{ path("ono_admin_list_articles") }}"><li class="title">Articles</li></a>
            <a href="{{ path("ono_admin_list_tags") }}"><li class="title">Tags</li></a>
            <a href="{{ path("ono_admin_list_indefinitions") }}"><li class="title">Indéfinitions</li></a>
          </ul>
        </div>
        <div class="col-sm-9">
          {% block body %}
          {% endblock %}
        </div>
      </section>
    </div>
    {% javascripts
    'bundles/onomap/js/admin-main.js'
     %}
      <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
  </body>
</html>
