
{% extends "OnoMapBundle:Admin:layout.html.twig" %}

{% block body %}

<div class="mainContent">
  <h1>Liste des Pays</h1>
  <a class="button-style bg-blue" href="{{ path('ono_admin_add_country') }}">Ajouter un pays</a>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          Pays
        </th>
        <th>
          Capitale
        </th>
        <th>
          Latitude
        </th>
        <th>
          Longitude
        </th>
        <th>

        </th>
      </tr>
    </thead>
    <tbody>
      {% for country in countries %}
        <tr>
          <td>
            {{ country.id }}
          </td>
          <td>
            {{ country.libCountry }}
          </td>
          <td>
            {{ country.libCapital }}
          </td>
          <td>
            {{ country.lat }}
          </td>
          <td>
            {{ country.ln }}
          </td>
          <td>
            <a class="button-style bg-green no-marge" href="{{ path("ono_admin_edit_country", {"id": country.id}) }}">Edit</a>
          </td>
          <td>
            <a class="button-style bg-red no-marge" href="{{ path("ono_admin_delete_country", {"id": country.id}) }}">Supprimer</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
