
{% extends "OnoMapBundle:Admin:layout.html.twig" %}

{% block body %}

<div class="mainContent">
  <h1>Liste des tags</h1>
  <a class="button-style bg-blue" href="{{ path('ono_admin_add_tag') }}">Ajouter un tag</a>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          Libellé
        </th>
        <th>
          Indéfinition
        </th>
        <th>
          UsedCount
        </th>
      </tr>
    </thead>
    <tbody>
      {% for tag in tags %}
      <tr>
        <td>
          {{ tag.id }}
        </td>
        <td>
          {{ tag.libTag }}
        </td>
        <td>
          {{ tag.indefinition|slice(0, 50) }}{% if tag.indefinition|length > 50 %}...{% endif %}
        </td>
        <td>
          {{ tag.usedCount }}
        </td>
        <td>
          <a class="button-style bg-green no-marge" href="{{ path("ono_admin_edit_tag", {"id" : tag.id}) }}">Editer</a>
        </td>
        <td>
          <a class="button-style bg-red no-marge" href="{{ path("ono_admin_delete_tag", {"id" : tag.id}) }}">Supprimer</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
