{% extends "::base.html.twig" %}


{# STYLESHEETS #}
{% block stylesheets %}
{% stylesheets  filter='cssrewrite' 'bundles/onomap/css/style.css' %}
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock %}


{# BODY #}
{% block body %}
  {% block bodyContent %}
  <body id="{{ app.request.get("_route") }}">
    {{ include("OnoMapBundle:Templates:noscript.html.twig") }}
    {{ include("OnoMapBundle:Templates:loader.html.twig") }}
    {{ include("OnoMapBundle:Templates:header.html.twig") }}
    <div id='alerts-container'></div>
  {% endblock %}
</body>
{% endblock %}


{# JAVASCRIPT #}
{% block javascripts %}
  {% javascripts
  'bundles/onomap/js/config.js'
  'bundles/onomap/js/loaderManage.js'
  'bundles/onomap/js/main.js'
  "bundles/onomap/js/form.js"
   %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
  {% endjavascripts %}
  <script type="text/javascript">
    config.rootPath = "{{ absolute_url(path("ono_map_homepage")) }}";

  </script>
{% endblock %}


{% block javascriptLoadContainer %} <script type="text/javascript">

config.assetPath = "{{ app.request.schemeAndHttpHost }}{{ asset("asset") }}";
config.responseShowPath = "{{ absolute_url(path("ono_map_response_view", {"id": 1})) }}"
config.articleShowPath = "{{ absolute_url(path("ono_map_article_view", {"id": 1})) }}"
config.responseAddPath = "{{ absolute_url(path("ono_map_response_add", {"id": 1})) }}"
config.articleAddPath = "{{ absolute_url(path("ono_map_article_add", {"id": 1})) }}"

console.log(config.responseShowPath);
window.onload = function(){
      //Au chargement de la page
      {% block javascriptload %}
        setTimeout(function(){
          if(typeof mapGestion !== "undefined" ){
            mapGestion.createAllMarkers();
            mapSidebarGestion.init();
          }
        }, 1000)
        loaderManage.stopAnimation();
      {% endblock %}

}</script> {% endblock %}
