<header id="sidebarLeft" class="sidebar-left">
    <nav class="main-nav">
      <div class="nav-head">
        <img class="logo sidebar-img" src="{{ asset("asset/img/logo.svg") }}" alt="" />
        <p class="nav-bar-profile">Profil</p>
        <a class="logout-button" href="{{ path("fos_user_security_logout") }}">Se déconnecter</a>
      </div>
      <ul class="nav-body">
        <a href="{{ path("ono_map_homepage") }}" class="item-nav{% if app.request.get('_route') == 'ono_map_homepage' %} active{% endif %}">
          <li>
            <img src="{{ asset("asset/img/logo.svg") }}" alt="" />
            <p>Carte</p>
          </li>
        </a>

        <a href="#" id="theme-list-container-open" class="item-nav{% if app.request.get('_route') == 'ono_map_themes' %} active{% endif %}">
          <li>
            <img src="{{ asset("asset/img/logo.svg") }}" alt="" />
            <p>Thèmes</p>
          </li>
        </a>
        <a href="{{path("ono_map_article_index")}}" class="item-nav{% if "article" in  app.request.get('_route') %} active{% endif %}">
          <li>
            <img src="{{ asset("asset/img/logo.svg") }}" alt="" />
            <p>Article</p>
          </li>
        </a>
        <a href="{{ path("ono_favoris_user") }}" class="item-nav{% if "favoris" in app.request.get('_route') %} active{% endif %}">
          <li>
            <img src="{{ asset("asset/img/logo.svg") }}" alt="" />
            <p>Favoris</p>
          </li>
        </a>
        <a href="{{ path("ono_map_question_index") }}" class="item-nav{% if "question" in app.request.get('_route') or "response" in app.request.get('_route') %} active{% endif %}">
          <li>
            <img src="{{ asset("asset/img/logo.svg") }}" alt="" />
            <p>Questions</p>
          </li>
        </a>
        <a href="{{ path('ono_map_question_index') }}" class="item-nav{% if app.request.get('_route') == 'ono_map_infos' %} active{% endif %}">
          <li>
            <img src="{{ asset("asset/img/logo.svg") }}" alt="" />
            <p>Infos</p>
          </li>
        </a>
      </ul>
    </nav>
  <!-- </div> -->
  <div id="theme-list-container" class="sidebar-close">
    <span class="cross" id="theme-list-container-close"></span>
    <p class="notice">Vous pouvez sélectionner un maximum <br>de <strong>5 filtres</strong></p>
    <ul class="theme-list">
      {% for theme in themes %}
      <li class="filter-theme" data-id="{{theme.id}}">
        <img src="" alt="" class=""/>
        <span>{{ theme.libTheme }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</header>
