<header id="sidebarLeft" class="sidebar-left">

    <nav class="main-nav">
      <div class="nav-head">
        <img class="logo sidebar-img" src="{{ asset("asset/img/logo-name-after.svg") }}" alt="" />
      </div>

      <ul class="nav-body">
        <a href="{{ path("ono_map_homepage") }}" class="item-nav{% if app.request.get('_route') == 'ono_map_homepage' %} active{% endif %}">
          <li style="background-image:url({{ asset("asset/img/icone/carte.svg") }})" data-help="Vous êtes ici, cliquez sur ce bouton<br> pour revenir à la carte à tout moment">
            <p>Carte</p>
          </li>
        </a>

        <a href="#" id="theme-list-container-open" class="item-nav{% if app.request.get('_route') == 'ono_map_themes' %} active{% endif %}">
          <li style="background-image:url({{ asset("asset/img/icone/themes.svg") }})" data-help="Ici, vous pouvez filtrer les résultats en fonction<br>de nos 26 thèmes (5 filtres maximum)">
            <p>Thèmes</p>
          </li>
        </a>

        <a href="{{ path("ono_map_question_index") }}" class="item-nav{% if "question" in app.request.get('_route') or "response" in app.request.get('_route') %} active{% endif %}">
          <li style="background-image:url({{ asset("asset/img/icone/questions.svg") }})" data-help="L'ensemble des réponses publiées par la communauté sont consultables en cliquant ici">
            <p>Questions</p>
          </li>
        </a>

        <a href="{{path("ono_map_article_index")}}" class="item-nav{% if "article" in  app.request.get('_route') %} active{% endif %}">
          <li style="background-image:url({{ asset("asset/img/icone/articles.svg") }})" data-help="Vous trouverez ici tous les articles rédigés par la communauté ONO">
            <p>Articles</p>
          </li>
        </a>

        <a href="{{ path("ono_favoris_user") }}" class="item-nav{% if "favoris" in app.request.get('_route') %} active{% endif %}">
          <li style="background-image:url({{ asset("asset/img/icone/favoris.svg") }})" data-help="Si vous êtes connecté,<br> retrouvez ici toutes vos réponses et vos articles favoris">
            <p>Favoris</p>
          </li>
        </a>

        <a href="#" id="headerComplementButton" class="item-nav{% if app.request.get('_route') == 'ono_map_themes' %} active{% endif %}">
          <li style="background-image:url({{ asset("asset/img/icone/add.svg") }})" data-help="Ce n'est pas fini !<br> En cliquant ici, vous pourrez accéder aux réglages, à votre profil,<br> mais aussi à des informations concernant la plateforme, l'équipe etc... :)">
            <p>Plus</p>
          </li>
        </a>


        <div class="nav-bottom {% if app.user %}bg-dark{% endif %}"
          data-help="Connectez-vous ou inscrivez-vous dès maintenant<br>pour démarrer votre propre aventure numérique !">
          {% if app.user %}
            <a class="logout-button" href="{{ path("fos_user_security_logout") }}">
              <li  style="background-image:url({{ asset("asset/img/icone/deconnexion.svg") }})">
                <p>DECONNEXION</p>
              </li>
            </a>
          {% else %}
            <a class="login-button" href="{{ path("fos_user_security_login") }}">
              <li  style="background-image:url({{ asset("asset/img/icone/connexion.svg") }})">
                <p>CONNEXION</p>
              </li>
            </a>
          {% endif %}
        </div>
    </ul>

    </nav>
  <!-- </div> -->


</header>

<div class="scroll-hide">
  <div id="theme-list-container" class="sidebar-close">
    <span class="cross" id="theme-list-container-close"></span>
    <p class="notice">Sélectionnez les thèmes</p>
    <ul class="theme-list">
      {% for theme in themes %}

      <li class="filter-theme {% if theme.id in app.session.get("themes") %}active{% endif %}" data-id="{{theme.id}}">
        <span>{{ theme.libTheme }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>


<div id="headerComplementMenu" class="hidden">


  <a href="{{ path("fos_user_profile_show") }}" class="item-nav {% if "profil" in app.request.get('_route') %} active{% endif %}">
    <li style="background-image:url({{ asset("asset/img/icone/user.svg") }})">
      <p>Profil</p>
    </li>
  </a>

  <a href="{{ path("ono_ux_interactive_homepage") }}" class="item-nav">
    <li style="background-image:url({{ asset("asset/img/icone/world.svg") }})">
      <p>Expérience interactive</p>
    </li>
  </a>

  <a href="#" class="item-nav">
    <li style="background-image:url({{ asset("asset/img/icone/concept.svg") }})">
      <p>Concept</p>
    </li>
  </a>

  <a href="#" class="item-nav">
    <li style="background-image:url({{ asset("asset/img/icone/equipe.svg") }})">
      <p>Equipe</p>
    </li>
  </a>

  <a href="#" class="item-nav">
    <li style="background-image:url({{ asset("asset/img/icone/param.svg") }})">
      <p>Paramètres</p>
    </li>
  </a>

  <a href="#" class="item-nav">
    <li style="background-image:url({{ asset("asset/img/icone/mentions.svg") }})">
      <p>Mentions légales</p>
    </li>
  </a>

</div>
